header {
  height: 80px;
  color: white;
}
.ss-bg-blue {
  background-color: #2c3e50;
}
/*jumbotrone*/
.ss-bg-green {
  background-color: #1abc9c;
}
.ss-inside-jumbo {
  width: 800px;
  max-width: 80%;
  margin: 0 auto;

  /*height placeholder*/
  height: 300px;
}

.ss-avatar{
  width: 150px;
  margin: 0 auto;
}
.ss-color-text{
  color: white;
}
.ss-py-50 {
  padding: 50px 0;
}

.ss-box {
  /*placeholder*/
  /* height: 300px; */
  margin: 10px;
  /*la width non va messa*/
}

img {
  width: 100%;
  border-radius: 10px;
}

.about,
.ss-footer-top,
.ss-footer-bottom {
  color: white;
}

.ss-container-60 {
  width: 60%;
  margin: 0 auto;
}
.ss-btn{
  background-color: #1abc9c;
  color: white;
  border-color: none;
  border-color: white;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 15px;
  cursor: pointer;
}
.ss-form {
  /*placeholder*/
  height: 300px;
}

.ss-footer-top {
  background-color: #3a546d;
}
h5{
  padding: 10px 0px;
}
.ss-font-awesome{
  padding: 8px;
  margin-right: 8px;
  border:1px solid white;
  border-radius: 50%;
}
.ss-color-start{
  color: #1abc9c;
}
.ss-footer-bottom {
  padding: 30px 0;
  color: white;
  text-align: center;
}
